<mat-card>
  <mat-card-title>Add Client</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="example-container">
        <p>
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput maxlength="30" formControlName="firstName" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput maxlength="30" formControlName="lastName" required>
          </mat-form-field>
        </p>
      </div>

      <p>
        <mat-form-field class="max-fill">
          <mat-label>Username</mat-label>
          <input matInput #input maxlength="30" formControlName="username" required>
          <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="max-fill">
          <mat-label>Email</mat-label>
          <input matInput #input maxlength="30" formControlName="email" email>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="max-fill">
          <mat-label>Address</mat-label>
          <input matInput #input maxlength="254" formControlName="address">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="max-fill">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="!form.valid">
          {{client ? 'Update client' : 'Add client'}}
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
