:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.example-container {
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
}

.max-fill {
  width: 100%;
}
