<div class="flex mat-action-row justify-items-center, items-center">
  <div class="logout-button-container">
    <button mat-raised-button (click)="logout()">
      Logout
    </button>
  </div>
</div>

<div class="py-5 text-center center">
  <h1 class="h1">Clients</h1>
</div>

<div class="flex mat-action-row justify-items-center, items-center">
  <div class="button-container">
    <button mat-raised-button (click)="addClient()">
      Add client
    </button>
  </div>
</div>


<div class="justify-items-center, items-center center">

  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Username -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-button (click)="editClient(element.id)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

