.button-container {
  padding-bottom: 16px;
  padding-left: 10%;
}

.logout-button-container {
  padding-bottom: 0;
  padding-top: 20px;
  padding-left: 85%;
}

table {
  width: 80%;
}

.left {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.h1 {
  margin-top: 40px;
}
